{% extends "base.html" %}
{% block title %}search{% endblock %}

{% block content %}
</form>
</div>
</main>
<h2> {{ agent }} </h2>
<div class="jumbotron d-flex text-center">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th>sender</th>
				<th>recipient</th>
				<th>amount</th>
				<th>cardkey</th>
				<th>locations</th>
				<th>date</th>
				<th>total txs: {{total_txs}}</th>
			</tr>
		</thead>
		<tbody>
			{% for tx in agent_txs %}
			<tr>
				<td>{{ tx.sender }}</td>
				<td>{{ tx.recipient }}</td>
				<td>{{ tx.amount }}</td>
				<td>{{ tx.cardkey }}</td>
				<td>{{ tx.location }}</td>
				<td>{{ tx.date }}</td>
			</tr>
			{% endfor %}
		</tbody>
</div>
{% endblock %}

