{% extends "base.html" %}
{% block title %}Index{% endblock %}

{% block content %}
<!-- Begin page content -->
<main role="main" class="flex-shrink-0">
{% if values != undefined %}


  <!-- Modal -->
  
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Transaccion agregada en el bloque </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal"">Aceptar</button>
        </div>
      </div>
    </div>
  </div>
  
  {% endif %}
	<div class="jumbotron d-flex text-center">
		<div class="container">
			<div class="btn-group btn-group-lg" role="group" aria-label="...">
				<a href="/mine/u" class="btn btn-default" role="button">MINE</a>
				<a href="/chain/u" class="btn btn-default" role="button">CHAIN</a>
				<a href="/nodes" class="btn btn-default" role="button">NODES</a>
				<a href="/transactions" class="btn btn-default" role="button">TRANSACTIONS</a>
			</div>
		</div>
	  </div>
</main>

{% endblock %}
